*{
	scroll-behavior: smooth;
}
body{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	text-align: justify;
	align-items: center;
	align-content: space-evenly;
	font-size: 16px;
	font-family: monospace;
	background-color: #FFFFFF;
}
header{
	width: 100%;
	height: 30vh;
}
.head-box{
	height: 100%;
	padding: 0px;
	border-bottom: solid #777777 1px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.text-title-page{
	height: 20%;
    font-size: 5vh;
}
.logo{
	width: 20vh;
	height: 20vh;
}
input.src{
	outline: none;
	font-size: 1.5em;
	border-radius: 25px;
	color: #444;
	border: 3px solid rgb(66, 66, 66);
	width: 60px;
	transition: all .5s;
}

input.src:hover{
	width: 180px;
	background-color: #fff;
	border: #555555;
	box-shadow: 0 0 5px #6dcff680;
}


.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
	right: 0;
	left: 0;
    background-color: rgba(68, 126, 180, 0.534);
    width: 25%;
    transition: transform .3s ease;
    transform: translate(-100%,0%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.panel.is-active{
    transform: translate(0,0);
}
.panel-btn{
    position: fixed;
    z-index: 999;
	bottom: 1vw;
	left: 1vw;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    padding: 0;
	display: flex;
	justify-content: center;
}












.men{
    width: inherit;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
	text-align: center;
}
.men a{
    padding: 2em;
    width: inherit;
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.men a:hover{
    font-weight: bold;
    color: black;
}




.conteiner {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	height: 35vh;
	align-items: center;
	padding: 10px;
}

.pic {
	display: flex;
	width: 22vh;
	height: 22vh;
	border: 2px;
	border-radius:15px;
	background-color: #1cb0f6;
	justify-content: center;
	align-content: center;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.pic:hover {
	transform: scale(1.2);
	transform-origin: center;
}
.button-text{
	text-decoration: none;
	color: #000000;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.company-description{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	height: 65vh;
	width: 100%;
	margin:0;
	padding:15px;
}
.text{
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.image-description{
	width: 30%;
	height: 100%;
}
.text-title-description{
	font-size: 48px;
	font-weight: bold;
}
.text-description-a{
	font-size: 32px;
}
.text-description-b{
	font-size: 24px;
	line-height: 1.2
}
.logo-description{
	height: 100%;
}
.intel{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-decoration: none;	
	padding: 10px;
	height: 50vh;
	width: 90%;
	align-items: center;
}
.intel-container{
	height: 15%;
}
.intel-title{
	font-size: 32px;
}
.proposal-text{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-decoration: none;	
	padding: 10px;
	height: 80%;
	width: 100%;
	align-items: center;
}

.brother-text{
	display: flex;
	width: 20%;
	height: 90%;
	background-color: #1cb0f6;
	border: 2px;
	border-radius:15px;
	justify-content: center;
	align-content: center;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);

}
.brother-text-styles{
	text-decoration: none;
	color: #000000;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.brother-text:hover {
	transform: scale(1.1);
	transform-origin: center;
	transition: 0.5s ease-out;
}
.footer{
	width: 100%;
	height: 30vh;
	background-color: #1cb0f6;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;

}
.card-footer{
	height: 100%;
	width: 20%;
	background-color: #FFFFFF;
	padding: 10px;

}
.title-footer{
	font-size: 32px;
	font-weight: bold;
}
/*---- Media Queries -----*/


@media screen and (max-width: 75em) {
	header{
		height: 20em;
	}
	.logo{
		width: 9em;
		height: 9em;
	}
	.head-box{
		height: 50%;
	}
	.element{
		height: 50%;
		font-size: 2em;
	}
	.men a{
		padding: 1em;
		font-size: 1.5em;
	}
}



/***********************************************************************************************/
@media screen and (max-width: 64em) {
	header{
		height: 24em;
		font-size: 0.7em;
	}
	.tex{
		font-size: 1.3em;
	}
	.conteiner .contenedor-principal {
		align-items: center;
		height: 12em;
	}
	.conteiner .contenedor-carousel{
		height: inherit;
	}
	.contened{
		height: 30em;
		width: 80%;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;
	}

	.contact-table1{
		padding: 1em;
		font-size: 1.2em;
	}
	.contact-table1 p , .contact-table1 .h4{
		border: 0;
		margin: 0;
	}
	.men a{
		padding: 1em;
		font-size: 1.3em;
	}
}
/***********************************************************************************************/

@media screen and (max-width: 48em) {
	header{
		height: 20em;
	}
	.logo{
		width: 8em;
		height: 8em;
	}
	.element{
		font-size: 2em;
	}
	.menu-link{
		font-size: 2em;
	}
	.submenu{
		position: absolute;
	}
	.conteiner .contenedor-principal {
		align-items: center;
		height: 9em;
	}
	.conteiner .contenedor-carousel{
		height: inherit;
	}
	.text{
		height: 30%;
		width: 70%;
	}
	.tex{
		font-size: 1.3em;
	}
	.video{
		width: 100%;
		height: 70%;
	}
	.contact, .contact-table{
		padding: 0;
	}
	.intel{
		height: 13em;
	}
	.tables .Marcas .brother-1{
		width: 6em;
		height: 6em;
		margin: 8px;
	}
	.contact-table{
		font-size: 1em;
	}
	.tables h4{
		font-size: 3em;
	}
	.tables p{
		font-size: 1.5em;
	}

	.contact .contact-table h1{
		font-size: 2em;
	}
	input[type=text]{
		width: 9em;
	}
	input[type=email]{
		width: 9em;
	}
	input[type=password]{
		width: 9em;
	}
	.final-botton2{
		font-size: .8em;
	}
	.panel{
		position: fixed;
	}
	.men a{
		padding: 1.5em;
		font-size: 1em;
	}
}
/***********************************************************************************************/
@media screen and (max-width: 37.5em) {
	.head-box .logo{
		width: 7em;
		height: 7em;
	}
	header{
		height: 15em;
	}
	.element{
		font-size: 1.5em;
	}


	.conteiner .contenedor-principal {
		align-items: center;
		height: 9em;
	}
	.conteiner .contenedor-carousel{
		height: inherit;
	}
	.contened .text1{
		font-size: 1.3em;
	}
	.intel{
		height: 17em;
	}
	.brother {
		width: 40%;
		height: 40%;
		border-radius: 15px;
	}
	.contact-table1{
		font-size:1em;
	}
	input[type=text]{
		width: 7em;
	}
	input[type=email]{
		width: 7em;
	}
	input[type=password]{
		width: 7em;
	}
	.men a{
		padding: 2em;
		font-size: .8em;
	}
}
/***********************************************************************************************/
@media screen and (max-width: 30em) {
	header{
		height: 14em;
	}
	.head-box{
		height: 60%;
	}
	.head-box .logo{
		width: 6em;
		height: 7em;
	}
	.element{
		height: 40%;
		font-size: 1em;
	}

	.conteiner .contenedor-principal {
		align-items: center;
		height: 4em;
	}
	.conteiner .contenedor-carousel{
		height: inherit;
	}
	.conteiner .contenedor-principal .flecha-izquierda,
	.conteiner .contenedor-principal .flecha-derecha {
		height: 40%;
		width: 10%;
	}
	.conteiner .contenedor-principal .flecha-izquierda:hover,
	.conteiner .contenedor-principal .flecha-derecha:hover {
		height: 50%;
		width: 10%;
	}

	.contened .text1{
		font-size: 2em;
	}
	.tex{
		font-size: .6em;
	}
	.text-c{
		font-size: .6em;
	}
	.contact{
		font-size: .5em;
	}
	.contact .h4{
		font-size: 1.4em;
	}
	.contact .contact-table2 h5{
		font-size: 1.4em;
	}
	input[type=text]{
		width: 7em;
		height: 2em;
	}
	input[type=email]{
		width: 7em;
		height: 2em;
	}
	input[type=password]{
		width: 8em;
		height: 2em;
	}
	.men a{
		padding: 3em;
		font-size: .5em;
	}
}
