*{
	scroll-behavior: smooth;
}
body{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	text-align: justify;
	align-items: center;
	align-content: space-evenly;
	font-size: 16px;
	font-family: monospace;
	background-image: linear-gradient( rgb(7, 29, 104),white 40%);
	/*background: url() position / size repeat attachment origin clip*/
}
header{
	width: 100%;
	height: 30vh;
}

.head-box{
	height: 75%;
	padding: 0px;
	border: solid goldenrod 1px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background: url(https://image.freepik.com/vector-gratis/lujo-geometrico-abstracto-moderno-azul-oro-s-invitacion-elemento-portada-fondo-decoracion-elegante_64718-206.jpg) center / 100% 100% no-repeat;

}
.logo{
	width: 100px;
	height: 100px;
}
input.src{
	outline: none;
	font-size: 1.5em;
	border-radius: 25px;
	color: #444;
	border: 3px solid goldenrod;
	width: 60px;
	transition: all .5s;
}

input.src:hover{
	width: 180px;
	background-color: #fff;
	border: #8c10b3;
	box-shadow: 0 0 5px #6dcff680;
}





.element{
	font-size: 1em;
	height: 25%;
	background: linear-gradient(45deg, rgb(7, 29, 104),black,rgb(7, 29, 104),rgb(7, 29, 104),black,rgb(7, 29, 104));
}


.menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	line-height: normal;
	margin:0;
	padding: 0;
}	
.menu .menu-link{
	font-family: sans-serif;
	font-size: 1.2em;
	color: rgb(185, 184, 184);
	text-decoration: none;
	padding: .5em 1em;
	display: block;
 
}
.menu-link:hover{
	color: white;
}
.menu .menu-item{
	text-decoration: none;
	list-style: none;
	position: relative;
	text-align: center;
}

.menu-item:hover .submenu{
   display: block;
}
.submenu{
	display: block;
	position: absolute;
	display: none;
	z-index: 2;
	list-style: none;
	padding: 0;
	background: rgb(7, 29, 104);
}






/*------------------------------------------------------------------*/

.conteiner {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 100%;
	align-items: center;
	position: relative;
}

.titulo{
	height: 10%;
	color:black;
	font-weight: bold;
}
.conteiner .contenedor-principal {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	position: relative;
	height: 90%;
}
.conteiner .contenedor-principal .flecha-izquierda,
.conteiner .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	height: 20%;
	line-height: 40px;
	width: 4%;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.conteiner .contenedor-principal .flecha-izquierda {
	left: 0;
}

.conteiner .contenedor-principal .flecha-derecha {
	right: 0;
}
/* ---- ----- ----- Carousel ----- ----- ----- */
.conteiner .contenedor-carousel {
	width: 100%;
	overflow: hidden;
	scroll-behavior: smooth;
}

.conteiner .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

.conteiner .contenedor-carousel .carousel .pic {
	min-width: 20%;
	align-items: stretch;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.conteiner .contenedor-carousel .carousel .pic:hover {
	transform: scale(1.2);
	transform-origin: center;
}

.conteiner .contenedor-principal .flecha-izquierda:hover,
.conteiner .contenedor-principal .flecha-derecha:hover {
	height: 25%;
	width: 5%;
}

.conteiner .contenedor-carousel .carousel .pic img {
	width: 100%;
	height: 100%;
	vertical-align: center;
}
.art{
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	align-items: center;
	margin:0;
	padding:15px;
	height: 80vh;
}
.text{
	height: 25%;
	width: 70%;
}
.video{
	width: 100%;
	height: 75%;
}
.vid{
	width: 100%;
	height: 100%;
}




.intel{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	text-decoration: none;	
	padding: 10px;
	height: 50vh;
	align-items: center;
}
.geo, .act, .know, .ad{
	border: 3px solid black;
	align-items: stretch;
}
.geo img, .act img, .know img, .ad img{
	width: 100%;
	height: 100%;
}
.brother{
	width: 20%;
	height: 90%;
	border-radius: 15px;
}

.brother:hover {
	transform: scale(0.9);
	transform-origin: center;
	transition: 0.5s ease-out;
}
.contact{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: space-around;
	padding: 0;
	height: 70vh;
	width: 90%;
}
.contact-table1{
	height: 100%;
	width: 40%;
	border: 3px solid black;
	padding: 5%;
	border-radius: 25px;
	text-align: left;
	line-height: 1rem;
	white-space: pre-line;

}
.contact-table2{
	height: 100%;
	width: 40%;

	border: 3px solid black;
	padding: 5%;
	border-radius:25px;
	text-align: left;
	line-height: 1rem;
	white-space: pre-line;

}


.farewell{
	border:3px solid black;		
	color: whitesmoke;
	display: flex;
	flex-flow: row wrap;
	height: auto;
	justify-content: space-around;
	background: linear-gradient( 45deg,rgb(9, 46, 146) 50%, rgb(234, 184, 27 ) 50%);

}
.final-botton1{
	height: 20%;
	text-decoration: none;
}
.final-botton2{
	height: 80%;
	background: linear-gradient(45deg, rgb(7, 29, 104),black,rgb(7, 29, 104),rgb(7, 29, 104),black,rgb(7, 29, 104));
	text-align: center;
	line-height: 2rem;
	text-align-last: center;
	scroll-behavior: smooth;
}
/*---- ----- ----- Media Queries ----- ----- -----*/
/***********************************************************************************************/

@media screen and (max-width: 75em) {
	header{
		height: 20em;
	}
	.logo{
		width: 17em;
		height: 9em;
	}
	.head-box{
		height: 50%;
	}
	.element{
		height: 50%;
		font-size: 2em;
	}

}



/***********************************************************************************************/
@media screen and (max-width: 64em) {
	header{
		height: 24em;
		font-size: 0.7em;
	}
	.logo{
		width: 15em;
		height: 7em;
	}
	input.src{
		width: 25vw;
	}
	.conteiner .contenedor-principal {
		align-items: center;
		height: 12em;
	}
	.conteiner .contenedor-carousel{
		height: inherit;
	}
	.contened{
		height: 30em;
		width: 80%;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;
	}
	.intel{
		height: 13em;
		margin:0;
		padding: 0;
	}
	.multimedia{
		height: 60%;
		width: 100%;
	}
	
	.multimedia iframe{
		height: 100%;
		width: 100%;
	}
	.text1{
		height: 40%;
		width: 80%;
		font-size: 1.5em;
	}
	.contact-table{
		font-size: 1.2em;
		}
	.contact .contact-table h1{
		font-size: 2em;
	}
}
/***********************************************************************************************/

@media screen and (max-width: 48em) {
	header{
		height: 18em;
	}
	.element{
		font-size: 2.5em;
	}

	.head-box .logo{
		width: 15em;
		height: 8em;
	}

	input.src{
		width: 25vw;
		height: 1em;
	}

	.menu-item .menu-link{
		font-size: .8em;
	}
	.conteiner .contenedor-principal {
		align-items: center;
		height: 9em;
	}
	.conteiner .contenedor-carousel{
		height: inherit;
	}
	
	.contact, .contact-table{
		padding: 0;
	}
	.intel{
		height: 13em;
	}
	.tables .Marcas .brother-1{
		width: 6em;
		height: 6em;
		margin: 8px;
	}
	.contact-table{
		font-size: 1em;
	}
	.tables h4{
		font-size: 3em;
	}
	.tables p{
		font-size: 1.5em;
	}

	.contact .contact-table h1{
		font-size: 2em;
	}
	.final-botton1, .final-botton2{
		font-size: 1em;
	}
}
/***********************************************************************************************/
@media screen and (max-width: 37.5em) {
	.head-box .logo{
		width: 12em;
		height: 7em;
	}
	header{
		height: 18em;
	}
	.element{
		font-size: 2em;
	}


	.conteiner .contenedor-principal {
		align-items: center;
		height: 9em;
	}
	.conteiner .contenedor-carousel{
		height: inherit;
	}
	.contened .text1{
		font-size: 1.3em;
	}
	.intel{
		height: 10em;
	}
	.tables .Marcas .brother-1{
		width: 100px;
		height: 100px;
		margin: 5px;
	}
	.tables h4{
		font-size: 1.3em;
	}
	.tables p{
		font-size: 1.1em;
	}
	.contact-table{
		font-size: 1em;
	
		}
	.contact .contact-table h1{
		font-size: 1.5em;
	}
	.final-botton1, .final-botton2{
		font-size: 1em;
	}
}
/***********************************************************************************************/
@media screen and (max-width: 30em) {
	header{
		height: 12em;
	}
	.head-box .logo{
		width: 9em;
		height: 5em;
	}
	.element{
		font-size: 1.5em;
	}

	.conteiner .indicadores{
		font-size: 1.5em;
	}
	.conteiner .contenedor-principal {
		align-items: center;
		height: 8em;
	}
	.conteiner .contenedor-carousel{
		height: inherit;
	}
	.contened .text1{
		font-size: 1em;
	}
	.intel{
		height: 15em;
	}

	.brother{
		width: 100px;
		height: 100px;
		margin: 5px;
		padding: 0;
	}
	.brother-1{
		width: 1em;
		height: 1em;
		margin: .5em;
	}
	.contact-table{
		font-size: 0.9em;	
		}
	.contact .contact-table h1{
		font-size: 1.1em;
	}
	.final-botton1, .final-botton2{
		font-size: 1em;
	}

}

@media screen and (max-width: 20em) {


}