:root{
    --blue-color: #5aade4;
    --dark-color: rgb(75, 75, 75);
    --yellow-color: #ffe70f;
    --red-color: #ce1414;

}

*{
    box-sizing: border-box;
	scroll-behavior: smooth;
    margin:0;
    padding: 0;
}

@keyframes girar {
    from { 
        transform: rotate(0deg); 
        width: 0rem;
        height: 0rem;
        opacity: 0;
    }
    50% {
        transform: rotate(180deg); 
        width: 150rem;
        height: 150rem;
        opacity: 1;

    }
    
    to { 
        transform: rotate(360deg); 
        width: 300rem;
        height: 300rem;
        opacity: 1;
    }
}

body{
    overflow: hidden;
	display: flex;
    flex-direction: column;
    align-content: center;
	font-size: 16px;
	background-color: #ffffff;
    cursor:auto
}

.active{
    background-color: var(--yellow-color);
}
.new-background{
    background-color: var(--blue-color);
}
.img-back{
    height: 3em;
    width: 3em;
    border-radius: 5px;
}
.img-back:hover{
	transform: scale(1.1);
	transform-origin: center;
	transition: 0.5s ease-out;
}
.btn-executer{
    width: 5em;
}

.background-image {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.start-button-container {
    position: relative;
    display: inline-block;
}

.start-button-animation {
    animation: girar 2s linear 1;
}
.rick-cards-text{
    font-weight: bold;
}
.start-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}

.rick-cards{
    border: 2px solid var(--dark-color);
    border-radius: 50px;
    margin: 5px;
    width: 20vw;
    height: 25vw;
    background-color: #ffffff;
}

.image-card{
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 70%;
}
.page-btn{
    margin: .5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 15%;
}
.rick-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 85rem) {
    .new-background{
        background-color: #e40b0b;
    }
    .rick-cards-text{
        font-size: .8rem;
        margin: .5rem;
    }
}


@media screen and (max-width: 60em) {
    .new-background{
        background-color: #4bc027;
    }
    .rick-cards{
        border-radius: 50px;
    }
    .rick-cards-text{
        font-size: .6rem;
        margin: .3rem;
    }
}

@media screen and (max-width: 40em) {
    .new-background{
        background-color: #4de7f1;
    }
    .rick-cards{
        border-radius: 35px;
    }
    .rick-cards-text{
        font-size: .5rem;
        margin:0px;
    }
    .image-card{
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
    .page-btn{
        margin: .5rem;
        height: 2rem;
        width: 2rem;
        border-radius: 15%;
    }
}
