:root{
	--color: black;
}
body{
	font-size: 1.5em;
	font-family: calibri;
	margin: 0px;
}
header{
	border: 3px solid black;
	text-align: center;
}
section{
	border: 3px solid black;
	text-align: justify-all;
	background-color: grey;	
}
.areas{
	border: 3px solid black;
	text-align: justify-all;
	background-color: rgb(204, 204, 195);	
}
.hello{
	border: 3px solid black;
	text-align: justify-all;
	background-color: rgb(175, 234, 233);		
}
nav{
	border: 3px solid black;
	text-align: justify-all;
	background-color: rgb(169, 160, 248);
}
a{
	text-decoration: none;
	color: white;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgb(139, 185, 244);
}
h1{
	display: table;

}
h1::after{
	content: "";
	display: block;
	height: 3px;
	background: red; 
	width: 0;
	transform: scale(0,1);
	transition: transform .15s;
}
h1:hover::after{
	width: 100%;
	transform: scale(1,1);
}
ol{
	counter-reset: list;
}
li{
	counter-increment: list;
	list-style: none;
}
li::before{
	content: counters(list, ".");
	color: purple;
	margin-right: .5rem;

}




.title,.parrafo
{
	color: red;
}
.list{
	color:red;

}
.list-item{
	color:black;
}

/*tilde es para resaltar todos los elementos a la derecha*/
.resaltado2 ~ .resaltado1{
	background: yellow; 
}

.enabled{
	display: none;
}
.check:checked ~ .enabled{
	display: block;
}
.check:checked ~ .disabled{
	display: none;
}
/*
p::first-line{
	color:rgb(225, 216, 29);
	background:rgb(19, 107, 191);
} */