*{
	font-family: monospace;
	font-size: 16px;
	text-align: center;
	margin:0;
	padding: 0;
}
body{
	box-sizing: border-box;
	width: 100vw;
	background: rgba(142, 218, 193, 0.788);
	scroll-behavior: smooth;
	display: flexbox;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: space-evenly;
}

#trabajadores{
	font-size: 1em;
	margin: .3em;
}

table{
	table-layout: fixed;
	width: 100%;
    border: 1px solid black;
	padding: 0;
}
tbody{
	width: 100%;
	padding: 0;
}
th{
	background: rgba(9, 9, 209, 0.466);
}
input{
	width: 100%;
}
td{
	border: 1px solid rgb(0, 0, 0);
	width: 100%;
	font-size: .7rem;
	padding: 1px;
}

.animate__animated.animate__pulse {
	--animate-duration: 1s;
}
.modal:target{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

}
.modal-box{
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background-color: rgba(165, 165, 177, 0.63);
}
.modal-activo:target{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

}
.modal-box-activo{
	width: 90vw;
	height: 90vh;
	display: flex;
	flex-direction: row;
	justify-content: baseline;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.685);
}

.select{
	background: rgba(255, 255, 255, 0.685);
}
.tab{
	width: 70%;
}
.close{
	justify-content: start;
	align-self: auto;
	background: red;
}


@media screen and (max-width: 48em) {
	body{
		width: 100%;
		font-size: .3em;

	}
	h1{
		font-size: .1em;
	}
	td{
		font-size: .3em;

	}
}