:root{
    --yellow-color: #F7DF1E;
    --dark-color: black;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
    text-align: justify;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    display: flexbox;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-evenly;
}
.cards{
    border: thin solid black;
    padding: 1rem;
    display: flexbox;
    flex-flow: row wrap;
    justify-content: space-between;

}
.card{
    border: 0;
}

.card figcaption{
    height: 200px;
    width: 200px;
    border: solid red 4px;
    padding: 0rem;
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

img{
    height: 100%;
    width: 100%;
}


.rotate-45{
    transform: rotate(45deg);
}
.rotate-135{
    transform: rotate(135deg);
}
.opacity-80{
    opacity: .8;
}
.sepia{
    filter: sepia(1);
}
