* {
	box-sizing: border-box;
	font-family: sans-serif;
    font-size: 16px;
}
body{
    background: url("../images/creative.png") center / 100% 100% no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
section{
    width: 70%;
}
.modal-box-fiesta, .modal-box-diseño, .modal-box-int{
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background-color: rgba(178, 178, 209, 0.63);
	border: solid black 2px;
}
.modal:target{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

}

/*************************************************/
/*------------------------------------------------------------------*/

.conteiner {
	width: 100%;
	height: inherit;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}
.titulo{
	height: 10%;
	color: black;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
}
.conteiner .contenedor-principal {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	position: relative;
	height: 70%;
}
.conteiner .contenedor-principal .flecha-izquierda, .conteiner .contenedor-principal .flecha-izquierda2, .conteiner .contenedor-principal .flecha-izquierda3,
.conteiner .contenedor-principal .flecha-derecha, .conteiner .contenedor-principal .flecha-derecha2, .conteiner .contenedor-principal .flecha-derecha3 {
	position: absolute;
	border: none;
	height: 20%;
	line-height: 40px;
	width: 4%;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}
.conteiner .contenedor-principal .flecha-izquierda, .conteiner .contenedor-principal .flecha-izquierda2, .conteiner .contenedor-principal .flecha-izquierda3 {
	left: 0;
}

.conteiner .contenedor-principal .flecha-derecha, .conteiner .contenedor-principal .flecha-derecha2, .conteiner .contenedor-principal .flecha-derecha3 {
	right: 0;
}
/* ---- ----- ----- Carousel ----- ----- ----- */
.conteiner .contenedor-carousel, .conteiner .contenedor-carousel2, .conteiner .contenedor-carousel3 {
	width: 100%;
	overflow: hidden;
	scroll-behavior: smooth;
	display: flex;
	flex-flow: row wrap;
	height: 100%;
}

.conteiner .contenedor-carousel .carousel, .conteiner .contenedor-carousel2 .carousel2, .conteiner .contenedor-carousel3 .carousel3 {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}

.conteiner .contenedor-carousel .carousel .pic, .conteiner .contenedor-carousel2 .carousel2 .pic2, .conteiner .contenedor-carousel3 .carousel3 .pic3{
	min-width: 30%;
	align-items: stretch;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.conteiner .contenedor-carousel .carousel .pic:hover, .conteiner .contenedor-carousel2 .carousel2 .pic2:hover, .conteiner .contenedor-carousel3 .carousel3 .pic3:hover{
	transform: scale(1.2);
	transform-origin: center;
}

.conteiner .contenedor-principal .flecha-izquierda:hover, .conteiner .contenedor-principal .flecha-izquierda2:hover, .conteiner .contenedor-principal .flecha-izquierda3:hover,
.conteiner .contenedor-principal .flecha-derecha:hover, .conteiner .contenedor-principal .flecha-derecha2:hover, .conteiner .contenedor-principal .flecha-derecha3:hover{
	height: 25%;
	width: 5%;
}

.conteiner .contenedor-carousel .carousel .pic img, .conteiner .contenedor-carousel2 .carousel2 .pic2 img, .conteiner .contenedor-carousel3 .carousel3 .pic3 img {
	width: 100%;
	height: 100%;
	vertical-align: center;
}


/******************************************************MEDIA QUERYS"****************************/

@media screen and (max-width: 125em){

	body{
		width: 100%;
	}
	h1{
		font-size: 4em;
	}
	section{
		font-size: 3em;
	}
	p{
		font-size: .4em;
		margin: 0;
	}
	a{
		font-size: .5em;
	}
}
@media screen and (max-width: 75em){
	h1{
		font-size: 3.7em;
	}
	section{
		font-size: 2.2em;
	}
	p{
		font-size: .5em;
		margin: 0;
		}

}
@media screen and (max-width: 64em){
	h1{
		font-size: 3.2em;
	}
	section{
		font-size: 2em;
	}
	p{
		font-size: .6em;
		margin: 0;
	}
	a{
		font-size: .5em;
	}
}
@media screen and (max-width: 50em){
	h1{
		font-size: 2.3em;
	}
	section{
		font-size: 1.5em;
	}
	p{
		font-size: .5em;
		margin: 0;
	}
}
@media screen and (max-width: 48em){
	h1{
		font-size: 2em;
	}
	section{
		font-size: 1.3em;
	}
	p{
		font-size: .6em;
		margin: 0;
	}
}
@media screen and (max-width: 37em){
	section{
		font-size: 1.1em;
	}
@media screen and (max-width: 30em){
	h1{
		font-size: 1.3em;
	}
	section{
		font-size: .9em;
	}
	p{
		font-size: .7em;
		margin: 0;
	}
}
@media screen and (max-width: 20em){
	h1{
		font-size: 1em;
	}
	section{
		font-size: .8em;
	}
	p{
		font-size: .6em;
		margin: 0;
	}
}
}