*{
	scroll-behavior: smooth;
}
body{
	margin: 0px;
	font-family: comic sans;
}
.heads{
	height: 200px;
	width: 100%;
 	background-clip: content-box; 
	margin: 0px;
	border: 0px;
	padding: 1rem;
	background: url(https://images.vexels.com/media/users/3/75939/preview2/bf7b4aaee813602cd6a34fd4df45d62c-fondo-de-vector-azul-y-oro.jpg) center / 100% 300px no-repeat;
	border: solid goldenrod 1px;
	color: rgb(248, 246, 191 );
	text-align: justify-all;
	font-size: 1rem;
}
.mnu{
	margin: 0px;
	background: black;
	height: 500px;
}

.navegation{
	padding: 0;
}
.lista{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
text-decoration: none;
}
.list{
	background-color: black;
	color:yellow;
}












main{
	padding: 10px;
	color: rgb(250, 167, 32);

}




.modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: none;
	border: solid palevioletred 3px;

}

.modal:target{
	display: flex;
}
.modal form{
	display: flex;
	flex-direction: column;
}
.modal input:not([type="submit"]){
	border:thin solid black;
	background-color: white;
	color:yellow;
}
.modal input[type="submit"]{
	width: 50%;
	margin: 0 auto .5rem;
	padding: .5rem .25rem;
	border: 0;
	border-radius: .25rem;
	background-color: rgb(83, 196, 241);
	color: white;
	transition: all .3s ease-in;
}
.modal input[type="submit"]:hover{
	background-color: blue;
}
.modal-box{
	width: 50%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background-color: rgba(201, 209, 220, .5);
}

a:hover{
	color: gold;
}
.caption1{
	padding: 5px;
}
.caption1:hover{
	background-color: rgb(250, 167, 32); 
	color: black;
	transition: all .5s ease-out;
}
.caption1:active{
	background-color: rgb(26, 110, 238); 
	color: white;
	transition: all 0s ease-out;
}
.caption2{
	padding: 5px;
}
.caption2:hover{
	background-color: rgb(250, 167, 32); 
	color: black;
	transition: all.5s ease-out;
}
.caption2:active{
	background-color: rgb(26, 110, 238); 
	color: white;
	transition: all 0s ease-out;
}
.caption3{
	padding: 5px;
}
.caption3:hover{
	background-color: rgb(250, 167, 32); 
	color: black;
	transition: all.5s ease-out;
}
.caption3:active{
	background-color: rgb(26, 110, 238); 
	color: white;
	transition: all 0s ease-out;
}
input:focus{
	background-color: rgb(254, 252, 212); 
	color:black;
}

.wow{
	margin: 0;
}
