body{
	width: 100vw;
    height: 100vh;
	margin: 0;
	padding-top: 5%;
	font-size: 16px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: baseline;
    align-items: center;
    align-content: center;
	background: -moz-linear-gradient(48deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(42,46,54,1)), color-stop(100%, rgba(97,107,125,1)));
    background: -webkit-linear-gradient(48deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%);
    background: linear-gradient(42deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%);
}
h1{
	color: rgb(204, 200, 200);
}
table{
	text-align:center;
	color: rgba(85, 128, 248, 0.904);

}

td{
	border: 2px solid black;
	padding: .5em;
}
td:hover{
	text-transform: uppercase;
	font-weight: bold;
}
.text-dark {
	font-size: 1em;
	color: #ffffff;
}