:root{
    --blue-color: #148dc5;
    --dark-color: rgb(75, 75, 75);
    --yellow-color: #ffe70f;
    --red-color: #ce1414;

}

*{
    box-sizing: border-box;
	scroll-behavior: smooth;
    margin:0;
    padding: 0;
}

body{
	display: flex;
    flex-direction: column;
    align-content: center;
	font-size: 16px;
	background-color: #ffffff;
    
}
header{
	width: 100%;
	height: 10em;
}
.head-box{
	height: 100%;
	padding: 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.title-page{
    font-size: 2em;
	max-width: 20vw;
	text-align: center;
}

.handle-screen-img{
	width: 8em;
	height: 4em;
    border-radius: 15px;
}

.father{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.father div{
    margin-top: 1em;
}
img:hover{
	transform: scale(1.1);
	transform-origin: center;
	transition: 0.5s ease-out;
}
.img-lingu{
    height: 15em;
    width: 15em;
    border-radius: 15em;
}
.img-rick{
    height: 15em;
    width: 15em;
    border-radius: 15em;
}
.img-cal{
    height: 15em;
    width: 15em;
}

#react-component{
    justify-content: center;
}

.button-styles1{
    background-color: aliceblue;
    border-width: 2px;
    color: black;
    font-weight: bold;
}

.button-styles2{
    background-color: var(--blue-color);
    border-width: 2px;
    font-weight: bold;
}
.button-styles3{
    background-color: var(--dark-color);
    border-width: 2px;
    font-weight: bold;
    color: #ffffff;
}
.button-styles4{
    background-color: var(--red-color);
    border-width: 2px;
    font-weight: bold;
}

.new-card{
    height: 5em;
    width: 5em;
}
.target-board{
    background-color: #e40b0b;
    height: 16em;
    width: 16em;
    border-radius: 80rem;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;    
}
.uno{
    background-color: #353535;
    height: 14em;
    width: 14em;
    border-radius: 80rem;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}
.dos{
    background-color: #0f7be0;
    height: 12em;
    width: 12em;
    border-radius: 80rem;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}
.tres{
    background-color: #ffdb10;
    height: 10em;
    width: 10em;
    border-radius: 80rem;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}