img{
    width: 400px;
}
.father{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
img:hover{
	transform: scale(1.1);
	transform-origin: center;
	transition: 0.5s ease-out;
}